.invoiceMetadata {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}

.key {
    color: #3b3b3b;
    font-size: 14px;
}

.value {
    font-weight: 600;
    padding: 0 5px;
    font-size: 14px;
}

.itemsList table {
    width: 100%;
}

.itemsList table td:nth-child(1) {
    text-align: center;
}

.itemsList table tbody tr:nth-last-child(1) td {
    text-align: left;
}

.itemsList table tbody tr td:nth-child(2),
.itemsList table thead tr th:nth-child(2) {
    text-align: left;
}

.itemsList table tbody tr td {
    border: 1px solid black;
    text-align: center;
}

.itemsList table tbody tr:nth-child(1) td {
    border: none;
}